player-connection-mode=Connect
player-connection-guid=2629111761
player-connection-debug=0
player-connection-project-name=Minecraft
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.27
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=39f8d4db0ade4b4893999cff94e9575f
